<div style="width: 45vw" class="flex p-4 bg-gray-100 relative rounded shadow">
  <div class="izquierda w-3/4">
    <div class="flex w-full space-x-2 mb-5">
      <fa-icon class="text-gray-800" [icon]="faCheckToSlot"></fa-icon>
      <div class="w-full space-y-1 flex flex-col">
        <input
          #elementTitle
          type="text"
          class="h-8 text-lg font-semibold text-gray-800 focus:bg-white"
          type="text"
          [ngClass]="styleInputTitle"
          [formControl]="inputTitle"
          (keydown.enter)="updateTitle()"
        />
        <p class="text-sm text-gray-500">
          in list
          <a
            cdkOverlayOrigin
            (click)="isOpenOverlayMove = !isOpenOverlayMove"
            #moveOverlay="cdkOverlayOrigin"
            class="cursor-pointer hover:text-gray-700 underline"
            >{{ list.title }}</a
          >
        </p>
      </div>
    </div>
    <div class="flex flex-col w-4/5">
      <div class="flex items-center space-x-2 mb-2">
        <fa-icon class="text-gray-800" [icon]="faBars"></fa-icon>
        <h3 class="text-lg font-semibold text-gray-800">Description</h3>
        <button
          class="font-normal rounded text-sm px-3 py-1 bg-gray-200 hover:bg-gray-300"
          *ngIf="card.description"
          (click)="openInput = !openInput"
        >
          Edit
        </button>
      </div>
      <button
        class="w-full pt-2 pb-5 px-4 text-left border-none rounded text-sm text-gray-700"
        *ngIf="!openInput"
        [ngClass]="colorBtnDescription"
        (click)="openInput = !openInput"
      >
        {{
          card.description
            ? card.description
            : "Add a more detailed description..."
        }}
      </button>
      <div *ngIf="openInput">
        <textarea
          class="w-full h-20 rounded placeholder-top bg-white text-sm text-gray-700"
          type="text"
          [formControl]="inputDescription"
          placeholder="Add a more detailed description..."
          autofocus
        >
        </textarea>
        <div class="flex space-x-2 mt-2">
          <app-btn color="primary" (click)="updateDescription()">Save</app-btn>
          <app-btn color="gray" (click)="openInput = !openInput"
            >Cancel</app-btn
          >
        </div>
      </div>
    </div>
  </div>
  <div class="w-1/4 flex flex-col justify-items-end derecha">
    <button
      (click)="close()"
      type="button"
      class="ml-auto mb-2 focus:outline-none p-2"
    >
      <fa-icon [icon]="faClose"></fa-icon>
    </button>
    <h5 class="mb-1 text-sm text-left font-semibold text-gray-500">Actions</h5>
    <div class="w-full text-left flex space-y-2 flex-col">
      <button
        class="text-left w-full font-semibold rounded text-sm px-4 py-2 bg-gray-200 hover:bg-gray-300"
        type="button"
        cdkOverlayOrigin
        (click)="isOpenOverlayMoveBtn = !isOpenOverlayMoveBtn"
        #moveOverlay2="cdkOverlayOrigin"
      >
        <fa-icon class="mr-1 text-gray-800" [icon]="faArrowRight"></fa-icon>
        Move
      </button>
      <button
        class="text-left w-full font-semibold rounded text-sm px-4 py-2 bg-gray-200 hover:bg-gray-300"
        type="button"
        cdkOverlayOrigin
        (click)="isOpenOverlayCopy = !isOpenOverlayCopy"
        #copyOverlay="cdkOverlayOrigin"
      >
        <fa-icon class="mr-1 text-gray-800" [icon]="faCopy"></fa-icon>
        Copy
      </button>
      <button
        class="text-left w-full font-semibold rounded text-sm px-4 py-2 bg-gray-200 hover:bg-gray-300"
        type="button"
      >
        <fa-icon class="mr-1 text-gray-800" [icon]="faArchive"></fa-icon>
        Archive
      </button>
      <button
        class="text-left w-full font-semibold rounded text-sm px-4 py-2 bg-gray-200 hover:bg-gray-300"
        type="button"
      >
        <fa-icon class="mr-1 text-gray-800" [icon]="faShareNodes"></fa-icon>
        Share
      </button>
    </div>
  </div>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="moveOverlay"
    [cdkConnectedOverlayOpen]="isOpenOverlayMove"
    (overlayOutsideClick)="isOpenOverlayMove = !isOpenOverlayMove"
  >
    <app-move-overlay
      [list]="list"
      [boardID]="boardId"
      [card]="card"
      (closeOverlay)="closeOverlayMove()"
    ></app-move-overlay>
  </ng-template>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="moveOverlay2"
    [cdkConnectedOverlayOpen]="isOpenOverlayMoveBtn"
    (overlayOutsideClick)="isOpenOverlayMoveBtn = !isOpenOverlayMoveBtn"
  >
    <app-move-overlay
      [list]="list"
      [boardID]="boardId"
      [card]="card"
      (closeOverlay)="closeOverlayMove()"
    ></app-move-overlay>
  </ng-template>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="copyOverlay"
    [cdkConnectedOverlayOpen]="isOpenOverlayCopy"
    (overlayOutsideClick)="isOpenOverlayCopy = !isOpenOverlayCopy"
  >
    <app-copy-overlay
      [list]="list"
      [boardID]="boardId"
      [card]="card"
      (closeOverlay)="closeOverlayCopy()"
    ></app-copy-overlay>
  </ng-template>
</div>
